In [42]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

import pickle

In [29]:
df = pd.read_csv('tran_prod_cust .csv')

C:\Windows\Temp\ipykernel_2416\1606241303.py:1: DtypeWarning: Columns (17,18,19,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('tran_prod_cust .csv')

In [30]:
df.drop(['GivenName','Surname','StreetAddress','ZipCode', 'City','PRODUCT_NAME', 'CATEGORY', 'COLOR_CODE', 'TITLE'], axis = 1, inplace = True)

In [31]:
df.head()

,DEPARTMENT,SUBCATEGORY,PRODUCT_TYPE,IS_BESTSELLER,COLOR,PRICE_CURRENT,UserId,TransactionId,TransactionTime,ItemCode,NumberOfItemsPurchased,PRICE_RETAIL,revenue,State,Birthday,Age
0,Kids,Hats,APPAREL,False,Light Menta/Barely Green,16.95,185792,60595023,2/17/2019 8:18,12231348,10,16.95,169.50,WA,9/23/1986,37.0
1,Kids,Hats,APPAREL,False,Light Menta/Barely Green,16.95,108854,12058664,7/24/2018 10:46,12231348,6,16.95,101.70,FL,8/6/1945,78.0
2,Kids,Hats,APPAREL,False,Light Menta/Barely Green,16.95,193153,38728736,2/21/2018 7:42,12231348,9,16.95,152.55,PA,4/24/1975,48.0
3,Kids,Hats,APPAREL,False,Light Menta/Barely Green,16.95,151472,50903069,10/12/2018 10:39,12231348,10,16.95,169.50,NY,9/16/1998,25.0
4,Kids,Hats,APPAREL,False,Light Menta/Barely Green,16.95,196977,95424449,1/29/2019 9:16,12231348,10,16.95,169.50,CA,3/24/1980,44.0

In [32]:
# Initialize LabelEncoders
department_encoder = LabelEncoder()
subcategory_encoder = LabelEncoder()
product_type_encoder = LabelEncoder()
color_encoder = LabelEncoder()
state_encoder = LabelEncoder()
is_bestseller_encoder = LabelEncoder()

# Fit and transform each column with its respective encoder
df['DEPARTMENT'] = department_encoder.fit_transform(df['DEPARTMENT'])
df['SUBCATEGORY'] = subcategory_encoder.fit_transform(df['SUBCATEGORY'])
df['PRODUCT_TYPE'] = product_type_encoder.fit_transform(df['PRODUCT_TYPE'])
df['COLOR'] = color_encoder.fit_transform(df['COLOR'])
df['State'] = state_encoder.fit_transform(df['State'])
df['IS_BESTSELLER'] = is_bestseller_encoder.fit_transform(df['IS_BESTSELLER'])

In [36]:
df['TransactionTime'] = pd.to_datetime(df['TransactionTime'])
df['month'] = df['TransactionTime'].dt.month
df['day'] = df['TransactionTime'].dt.day

In [37]:
df.drop(['TransactionTime', 'Birthday', 'TransactionId', 'UserId', 'PRICE_CURRENT','NumberOfItemsPurchased','PRICE_CURRENT'], axis = 1, inplace = True)

In [38]:
df.head()

,DEPARTMENT,SUBCATEGORY,PRODUCT_TYPE,IS_BESTSELLER,COLOR,ItemCode,PRICE_RETAIL,revenue,State,Age,month,day
0,0,6,1,0,1529,12231348,16.95,169.50,48,37.0,2,17
1,0,6,1,0,1529,12231348,16.95,101.70,9,78.0,7,24
2,0,6,1,0,1529,12231348,16.95,152.55,39,48.0,2,21
3,0,6,1,0,1529,12231348,16.95,169.50,35,25.0,10,12
4,0,6,1,0,1529,12231348,16.95,169.50,4,44.0,1,29

In [39]:
df.shape

(1048575, 12)

In [40]:
df.dropna(inplace = True)

In [41]:
df.shape

(810540, 12)

In [43]:
encoders = {
    'department_encoder': department_encoder,
    'subcategory_encoder': subcategory_encoder,
    'product_type_encoder': product_type_encoder,
    'color_encoder': color_encoder,
    'state_encoder': state_encoder,
    'is_bestseller_encoder': is_bestseller_encoder
}

# Save all encoder instances
for name, encoder in encoders.items():
    with open(f'{name}.pkl', 'wb') as f:
        pickle.dump(encoder, f)